@font-face {
    font-family: "fredoka_oneregular";
    src: url("/fonts/fredoka/fredoka.otf");
}

@font-face {
    font-family: "futura";
    src: url("/fonts/futura/futura-medium.ttf");
}

@font-face {
    font-family: "good_unicorn";
    src: url("/fonts/unicorn/unicorn.ttf");
}

html body {
    background-color: #FAF9F0;
    padding: 0;
    margin: 0;
    font-family: "futura", Arial, Helvetica, sans-serif;
    margin-bottom: 25rem;
}

input {
    height: 2rem;
    width: 10rem;
    border-radius: 10px;
}

#mast {
    background-color: #F2DFD7;
    padding-left: 3.5rem;
}

#logo {
    color: #A68BA5;
    font-family: "good_unicorn", "fredoka_oneregular", "futura", Arial, Helvetica, sans-serif;
    font-size: 7rem;
    text-shadow: -3.5px 3.5px #5C5D67;
    margin-right: 0;
    cursor: pointer;
}

#page-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
    width: 25rem;
    height: 7rem;
    background-color: #957593;
    border-radius: 25px;
    box-shadow: -5px 5px #2F0147;
}

#title-text {
    color: #FEF9FF;
    font-size: 3rem;
    cursor: default;
}

#hint-button:hover {
    filter: brightness(80%);
}

#next-button {
    filter: opacity(40%);
    cursor: default;
}

#random-letter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7F7B82;
    height: 8rem;
    width: 8rem;
    margin-top: 1.5rem;
    border-radius: 30px;
    border: 5px solid #FAF9F0;
    font-size: 4rem;
    color: #FAF9F0;
}

.input-subgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interactable-subgroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
}

#letter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 110%;
    padding-top: 2rem;
}

#hint-cover {
    height: 100%;
    width: 5rem;
    background-color: #D7ACB2;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #7F7B82;
}

.step-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    width: 45rem;
    height: 22rem;
    background-color: #EBD5D8;
    border-radius: 50px;
}

.step-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    height: 3rem;
    background-color: #D7ACB2;
    border-radius: 50px;
    color: white;
    cursor: default;
}

.step-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-subgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.icon-button:hover {
    filter: brightness(125%);
    cursor: pointer;
}

.content-text {
    color: #7F7B82;
    margin: 0;
    cursor: default;
}

#morse-box {
    height: 2.7rem;
    width: 10rem;
    border: #7F7B82 2pt solid;
    border-radius: 10px;
    background-color: #FEF9FF;
    margin-top: .5rem;
    margin-bottom: -.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
